@font-face {
    font-family: "Avenir";
    src: url(../fonts/avenir.otf)
}

@font-face {
    font-family: "Avenir Bold";
    src: url(../fonts/avenir-next-bold.ttf)
}

html {
    scroll-behavior: smooth
}

.hero-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    background: #141d26;
    background: #fafafa
}

.subtitle {
    width: 85%
}

.title-text {
    font-size: 7rem;
    color: #a17f1a;
    font-family: 'IBM Plex Sans', serif
}

.sub-text {
    font-size: 2em;
    color: #c8c8c8;
    font-family: 'IBM Plex Sans', sans-serif
}

.work-title {
    align-items: center
}

.title-text-alt {
    text-align: center;
    font-size: 7rem;
    color: black;
    font-family: 'IBM Plex Sans', serif
}

.hero-right {
    position: relative;
    left: 41.667%;
    padding: 0
}

.feature-left {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    left: 0px;
    align-items: center;
    text-align: center;
}

.feature-text {
    font-family: 'IBM Plex Sans';
    font-weight: bold;
    color: black;
    font-size: 2rem
}

a {
    color: black
}

.feature-left p {
    text-align: justify;
    color: black;
    font-family: 'IBM Plex Sans';
    font-weight: 300;
    font-size: 1.4rem;
    padding: 10%;
    padding-top: 0px;
}
.icons {
    padding: 0;
    padding-bottom: 20px;
    list-style-type: none;
}
.overlay-social-object {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    display: inline;
}

/* .icons {
    list-style: none;
    text-align: center;
}

.icons li {
    list-style-type: none;
    display: inline-flex;
    align-content: center;
    align-items: center;
} */

.icons i {
    font-size: 2em;
    text-align: center;
}

.hidden {
    display: none;
}

.item {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 5%
}

.item p {
    color: black;
    font-family: 'IBM Plex Sans'
}

#pfp {
    margin-bottom: 10%;
}

.item {
    background: rgb(244,244,244);
}
/*
#item1 {
    background: #3C455C;
}

#item2 {
    background: #B37C57;
}

#item3 {
    background: #3C455C;
}*/

.btn-light {
    background-color: #ededed;
    border-color: #ededed;
}

@media(max-width:992px) {
    .item {
        height: auto
    }
    .hero-right {
        position: relative;
        left: 0
    }
    .hero-left {
        padding: 10%;
        height: 80%;
        position: relative;
        align-items: center
    }
    .feature-left {
        align-items: center;
        position: relative;
        top: 0;
        text-align: center;
        transform: translateY(0px);
        left: 0
    }

    .feature-left p {
        text-align: left;
    }
    .hidden {
        display: initial
    }
    .subtitle {
        width: 100%
    }
}